/* ======================================== 
    Document      : dboard_loader.css
    Created on    : Aug 07, 2015
    Author        : Galih U. Syambudhi [galihsam@gmail.com][www.galihsamedia.com]
    Description   : CSS DASHBOARD LOADER.
=========================================== */

@import url('bootstrap.min.css');
@import url('bootstrap-override.css');
@import url('weather-icons.min.css');
@import url('jquery-ui-1.10.3.css');
@import url('font-awesome.min.css');
@import url('animate.min.css');
@import url('animate.delay.css');
@import url('toggles.css');
@import url('select2.css');
@import url('lato.css');
@import url('roboto.css');
@import url('style.default.css');
@import url('morris.css');
@import url('jquery.datatables.css');
